{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="content-wrap">
    <div class="py-160 bg-dark text-center">
        <div class="container shape-parent">
            <div class="shape ml-60">
                <svg class="mt-n160" data-rellax-speed="1" width="500" height="318" viewBox="0 0 500 318" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="68" r="250" fill="#202020" />
                </svg>
            </div>
            <div class="row justify-content-center text-white mb-100">
                <div class="col-12 col-lg-8 col-xl-6">
                    <h1 class="display-4 mb-20 text-white show-on-scroll" data-show-duration="500" data-show-distance="10">{{ project.title }}</h1>
                    <p class="mb-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">{{ project.description }}</p>
                </div>
            </div>

            <div class="col-md-8">
                <img src="{% static project.image %}" alt="" width="100%">
            </div>
            <div class="col-md-4">
                <h5>About the project:</h5>
                <p>{{ project.description }}</p>
                <br>
                <h5>Technology used:</h5>
                <p>{{ project.technology }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}